body {
  padding-top: 10px;
  min-width: 800px;
}

.navbar {
  margin-bottom: 0px;

  .navbar-inner {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.well {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

select, input {
  margin-bottom: 0px !important;
}

#listing {
  border-right: 1px dashed gray;
  width: 100%;
  overflow-x: scroll;

  th {
    cursor: pointer;
    background-color: #EEE;
    white-space: nowrap;
    padding-right: 0px;
    cursor: move;

    span {
      cursor: pointer;
      border-bottom: 1px dashed black;
    }

    .resizer {
      width: 4px;
      background-color: black;
      height: 20px;
      float: right;
      margin-left: 8px;
      visibility: hidden;
      cursor: col-resize;
    }

    &:hover {
      .resizer {
        visibility: visible;
      }
    }
  }
}