body {
  padding-top: 10px;
  min-width: 800px;
}

.navbar {
  margin-bottom: 0px;

  .navbar-inner {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.well {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 15px;
}

select, input {
  margin-bottom: 0px !important;
}

#listing {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #CCC;
}