@font-face {
  font-family: 'PT_Sans-Web';
  src: url('PT_Sans-Web-Regular.eot');
  src: local('☺'), url('PT_Sans-Web-Regular.woff') format('woff'), url('PT_Sans-Web-Regular.ttf') format('truetype'), url('PT_Sans-Web-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Web';
  src: url('PT_Sans-Web-Bold.eot');
  src: local('☺'), url('PT_Sans-Web-Bold.woff') format('woff'), url('PT_Sans-Web-Bold.ttf') format('truetype'), url('PT_Sans-Web-Bold.svg') format('svg');
  font-weight: bold;
}
