// fieldset.provider_groups {
//   img {
//     padding-right: 5px;
//   }

//   li.file {
//     display: block !important;
//     label { display: none }
//     float: right;
//     padding: 5px;
//   }
// }